#primary h2
{
    font-size: 8em;
    margin: 0;
    color:white;
    text-transform: uppercase;
}

/*=============================================================
                        Présentation
=============================================================*/

.imgEnteteAccueil{
  position: absolute;
  z-index: -1;
  top: -10vh;
  min-height: 110vh;
}

.conteneurHeaderAccueil{
  display: flex;
}

.headerAccueil{
  padding-left: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txtBloc{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 999;
  width: 50%;
  height: 300px;
  padding: 2%;
  background-color: rgba(77, 77, 77, 0.5);
  color: #FFF;
  margin-top: 48.3vh;
  line-height: 2;
}

/*=============================================================
                    BLOC DES COLONNES
=============================================================*/

.titrePresentation{
  color: #FFF;
}
  
  .titreCondAdmin
  {
    text-align: center;
    color: #FFF;
    margin-top: 5%;
    font-size: 2rem;
  }
  
  // Effet d'un tableau
  .condAdmin{
    min-height: 35vh;
    min-width: 25vw;
  }
  
  .condAdminContainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .condAdminContainer .carteCondAdmin{
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background: #31313171;
  }

  .condAdminContainer .carteCondAdmin::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid #292929;
    border-top: 20px solid #dc0084;
    border-right: 20px solid #dc0084;
  }

  .condAdminContainer .carteCondAdmin .contentCondAdmin{
    color: #FFF;
  }

  .imgPresentation{
    position: absolute;
    margin-left: 1%;
    margin-top: 0.1%;

    .wp-image-468{
      padding-right: 10%;
    }
  }

  .imgPres2{
    position: absolute;
    margin-left: 85%;

    .wp-image-486{
      padding-left: 10%;
    }
  }

/*=============================================================
                        Cours Offerts
=============================================================*/

.titreCoursOfferts{
  font-size: 2rem;
  text-align: center;
  margin-right: 45.5vw;
  color: #FFF;
}

// Agrandir le titre pour les sessions
.titreSession{
  font-size: 2rem;
  color: #FFF;
  text-align: center;
  margin-bottom: -0.5%;
}

// Faire que le contenu soit adaptable à l'aide de flex-wrap
.container{
  position: relative;
  display: flex;
  min-width: 25vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// Conteneur de la carte
.container .carte{
  position: relative;
  width: 300px;
  padding: 20px;
  margin: 20px;
  background: #31313171;
}

// Bordure de la carte
.container .carte::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid #292929;
  border-top: 20px solid #dc0084;
  border-right: 20px solid #dc0084;
}

// Icone pour chaque carte
.container .carte .icone{
  margin-bottom: 10px;
  font-size: 2rem;
}

// Carte lorsqu'elle n'est pas en extension
.container .carte .content{
  position: relative;
  height: 215px;
  overflow: hidden;
}

// Carte lorsqu'elle est en extension
.container .carte.active .content{
  height: auto;
}

// Petit effet
.container .carte .content::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(220,0,132,0.5) 0%, rgba(34,193,195,0) 100%); 
}

// Enleve l'effet
.container .carte.active .content::before{
  display: none;
}

// Donner une couleur à l'icône
.container .carte .content i .fas{
  color: #FFF;
}

// Titre du cours
.container .carte .content h3{
  color:#FFF;
  margin-bottom: 10px;
}

// Description du cours
.container .carte .content p{
  color: #FFF;
}

// Conteneur pour le bouton lire plus
.container .carte .plus{
  position: relative;
  padding: 10px;
  background: #dc0084;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

// Lorsque le Lire plus est cliqué
.container .carte.active .plus{
  background: #292929;
}

// Avant le clique
.container .carte .plus::before{
  content: "Lire plus";
}

// Après un clique
.container .carte.active .plus::before{
  content: "Lire moins";
}


/*=============================================================
                    Section professeurs
=============================================================*/

.titreProfsgit {
  font-size: 2rem;
  text-align: center;
  margin-right: 45.5vw;
  color: #FFF;
}

// Faire en sorte que le contenu s'adapte facilement avec flex-wrap
.containerProf{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-right: 1%;
}

// Le bloc pour chaque carte de prof individuelle
.carteProf  {
  position: relative;
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  cursor: pointer;
  z-index: 200;
  margin: 2%;
}

// Bien formater le contenu pour chaque carte de prof
// Bien placer le contenu aussi
.contentProf {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 20px;
}

h3 {
  color: black;
}

/*=============================================================
                    Section professeurs
                    Gestion de l'effet rideaux
=============================================================*/

.rideaux,
.rideaux2,
.rideaux3,
.rideaux4,
.rideaux5,
.rideaux6,
.rideaux7,
.rideaux8,
.rideaux9,
.rideaux10
 {
  width: 100%;
  height: 100%;
}

/*=============================================================
                    Section professeurs
                    Martin
=============================================================*/

// Partie gauche de la carte avec l'image de Martin
.rideaux::before {
  position: absolute;
  content: "";
  min-height: 100%;
  min-width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Martin-1-e1636566428251-1-e1638387711990.jpg") #292929;
  background-size: 320px 448px;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image de Martin
.rideaux::after {
  position: absolute;
  content: "";
  min-height: 100%;
  min-width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Martin-1-e1636566428251-1-e1638387711990.jpg") #292929;
  background-size: 320px 448px;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Faire les transitions qui donne l'effet rideaux
.carteProf:hover .rideaux::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Dominic
=============================================================*/

// Partie gauche de la carte avec l'image de Dominic
.rideaux2::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Dom-e1636567894898-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image de Domnic
.rideaux2::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Dom-e1636567894898-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Faire les transitions qui donne l'effet rideaux
.carteProf:hover .rideaux2::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux2::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Eddy
=============================================================*/

// Partie gauche de la carte avec l'image de Eddy
.rideaux3::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Eddy-1-e1636567864415-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image de Eddy
.rideaux3::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Eddy-1-e1636567864415-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.carteProf:hover .rideaux3::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux3::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Johanne
=============================================================*/

// Partie gauche de la carte avec l'image de Johanne
.rideaux4::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-johanne-gd-1-e1636567357699-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image de Johanne
.rideaux4::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-johanne-gd-1-e1636567357699-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.carteProf:hover .rideaux4::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux4::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Ahmed
=============================================================*/

// Partie gauche de la carte avec l'image de Ahmed
.rideaux5::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Ahmed-photo-e1636567932614-1.jpeg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image de Ahmed
.rideaux5::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Ahmed-photo-e1636567932614-1.jpeg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.carteProf:hover .rideaux5::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux5::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Camille
=============================================================*/

// Partie gauche de la carte avec l'image de Camille
.rideaux6::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-camille-e1636567921700-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image de Camille
.rideaux6::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-camille-e1636567921700-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.carteProf:hover .rideaux6::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux6::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Caroline
=============================================================*/

// Partie gauche de la carte avec l'image de Caroline
.rideaux7::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Caroline-e1636567914536-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image de Caroline
.rideaux7::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Caroline-e1636567914536-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.carteProf:hover .rideaux7::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux7::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Denis
=============================================================*/

// Partie gauche de la carte avec l'image de Denis
.rideaux8::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Denis-e1636567902202-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie gauche de la carte avec l'image de Denis
.rideaux8::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Denis-e1636567902202-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.carteProf:hover .rideaux8::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux8::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Mathieu
=============================================================*/

// Partie gauche de la carte avec l'image de Mathieu
.rideaux9::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Mathieu-1-e1636567532615-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image Mathieu
.rideaux9::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Mathieu-1-e1636567532615-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.carteProf:hover .rideaux9::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux9::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Section professeurs
                    Manon
=============================================================*/

// Partie gauche de la carte avec l'image de Manon
.rideaux10::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Manon-1-e1636567855222-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

// Partie droite de la carte avec l'image de Manon
.rideaux10::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background:  url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Manon-1-e1636567855222-1.jpg") #292929;
  background-size: 320px 448px;;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.carteProf:hover .rideaux10::after {
  transform: translatex(300px);
}

.carteProf:hover .rideaux10::before{
  transform: translatex(-300px);
}

/*=============================================================
                    Grille de cheminement
=============================================================*/

// Mettre le bouton centré dans la page
.conteneurBtn
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(http://eddym10.sg-host.com/wp-content/uploads/2021/12/20211208_140923-scaled.jpg);
  background-repeat: no-repeat;
  min-height: 30vh;
  background-position: 0% 60%;
}

/*=============================================================
                    Media queries - Tablette
=============================================================*/

@media only screen and (min-width : 970px) and (max-width : 1919px){

  #primary h2
{
    font-size: 6em;
}
    
    .titreCondAdmin
    {
      text-align: center;
      color: #FFF;
      font-size: 0.8rem;
    }

    .txtBloc{
      font-size: 1vw;
    }

    .imgPresentation{
      display: none;

      .wp-image-390{
        display: none;
      }
    }

    .imgPres2{
      display: none;

      .wp-image-446{
        display: none;
      }
    }
}

/*=============================================================
                    Media queries - Mobile
=============================================================*/

@media only screen and (min-width : 320px) and (max-width : 969px){

  #primary h2{
    font-size: 2em;
  }

  .txtBloc{
    visibility: hidden;
  }

  .imgPresentation{
    display: none;

    .wp-image-390{
      display: none;
    }
  }

  .imgPres2{
    display: none;

    .wp-image-446{
      display: none;
    }
  }

  .imgEnteteAccueil{
    display: none;
  }

  .container .carte .content{
    height: 10vh;
  }

  .container .carte .content h4,
  .container .carte .content p{
    display: none;
  }

  .container .carte .plus{
    display: none;
  }

.rideaux,
.rideaux2,
.rideaux3,
.rideaux4,
.rideaux5,
.rideaux6,
.rideaux7,
.rideaux8,
.rideaux9,
.rideaux10
 {
  display: none;
}
 .carteProf .contentProf{
   display: none;
 }

 /* Martin*/
 .carteProf:nth-child(1)
 {
   background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Martin-1-e1636566428251-1-e1638387711990.jpg") no-repeat #292929;
   margin-left: 20vw;
   cursor: default;
 }

  /* Dominic*/
  .carteProf:nth-child(2)
  {
    background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Dom-e1636567894898-1.jpg") no-repeat #292929;
    margin-left: 20vw;
    cursor: default;
  }

   /* Eddy*/
 .carteProf:nth-child(3)
 {
   background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Eddy-1-e1636567864415-1.jpg") no-repeat #292929;
   margin-left: 20vw;
   cursor: default;
 }

  /* Johanne*/
  .carteProf:nth-child(4)
  {
    background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-johanne-gd-1-e1636567357699-1.jpg") no-repeat #292929;
    margin-left: 20vw;
    cursor: default;
  }

   /* Ahmed*/
 .carteProf:nth-child(5)
 {
   background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Ahmed-photo-e1636567932614-1.jpeg") no-repeat #292929;
   margin-left: 20vw;
   cursor: default;
 }

  /* Camille*/
  .carteProf:nth-child(6)
  {
    background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-camille-e1636567921700-1.jpg") no-repeat #292929;
    margin-left: 20vw;
    cursor: default;
  }

   /* Caroline*/
 .carteProf:nth-child(7)
 {
   background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Caroline-e1636567914536-1.jpg") no-repeat #292929;
   margin-left: 20vw;
   cursor: default;
 }

  /* Denis*/
  .carteProf:nth-child(8)
  {
    background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Denis-e1636567902202-1.jpg") no-repeat #292929;
    margin-left: 20vw;
    cursor: default;
  }

   /* Mathieu*/
 .carteProf:nth-child(9)
 {
   background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Copie-de-Mathieu-1-e1636567532615-1.jpg") no-repeat #292929;
   margin-left: 20vw;
   cursor: default;
 }

  /* Manon*/
  .carteProf:nth-child(10)
  {
    background:url("http://eddym10.sg-host.com/wp-content/uploads/2021/11/Manon-1-e1636567855222-1.jpg") no-repeat #292929;
    margin-left: 20vw;
    cursor: default;
  }
}