
/*  .custom-background
  {
      background-size: 100vw 90vh !important;
      background-repeat: no-repeat !important;
  } */
  


#primary h2
{
    font-size: 8em;
    margin: 0;
    color:white;
    text-transform: uppercase;
}

/*=============================================================
                        Présentation
=============================================================*/

.imgEnteteAccueil{
  position: absolute;
  z-index: -1;
  top: -10vh;
}

.conteneurHeaderAccueil{
  display: flex;
}

.headerAccueil{
  padding-left: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txtPresentation{
  color:white;
}

/*=============================================================
                        Cours Offerts
=============================================================*/

// Modifier le titre des sessions
.titreSession{
  font-size: 2rem;
  color: #FFF;
  text-align: center;
}

.container{
  position: relative;
  display: flex;
  min-width: 25vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// Conteneur de la carte
.container .carte{
  position: relative;
  width: 300px;
  padding: 20px;
  margin: 20px;
  background: #31313171;
}

// Bordure de la carte
.container .carte::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid #292929;
  border-top: 20px solid #dc0084;
  border-right: 20px solid #dc0084;
}

.container .carte .icone{
  margin-bottom: 10px;
  font-size: 2rem;
}

// Carte lorsqu'elle n'est pas en extension
.container .carte .content{
  position: relative;
  height: 215px;
  overflow: hidden;
}

// Carte lorsqu'elle est en extension
.container .carte.active .content{
  height: auto;
}

// Petit effet
.container .carte .content::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(220,0,132,0.5) 0%, rgba(34,193,195,0) 100%); 
}

// Enleve l'effet
.container .carte.active .content::before{
  display: none;
}

.container .carte .content i .fas{
  color: #FFF;
}

// Titre du cours
.container .carte .content h3{
  color:#FFF;
  margin-bottom: 10px;
}

// Description du cours
.container .carte .content p{
  color: #FFF;
}

// Conteneur pour le bouton lire plus
.container .carte .plus{
  position: relative;
  padding: 10px;
  background: #dc0084;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

// Lorsque le Lire plus est clique
.container .carte.active .plus{
  background: #292929;
}

// Avant le clique
.container .carte .plus::before{
  content: "Lire plus";
}

// Apres un clique
.container .carte.active .plus::before{
  content: "Lire moins";
}

/*=============================================================
                    BLOC DES COLONNES
=============================================================*/

/*.condAdminConteneur{
  margin-right: 5%;
  border: 2px solid black;
  border-radius: 10%;
}

.titreCondAdmin{
  text-align: center;
}

.listeCondAdmin{
  list-style: none;
  border: 2px solid black;
  border-radius: 10%;
  margin-right: 30px;
}

.entry-title:nth-of-type(1) a
{
  //color: aqua;
  font-size: 1rem;
}*/

.conteneurTrois{
margin-left: 5%;
margin-right: 5%;
margin-top: 5%;
}

.titreCondAdmin
{
  text-align: center;
  color: #FFF;
}

.condAdmin{
  border: 3px solid white;
  border-radius: 5%;
  text-decoration: none;
  min-height: 35vh;
  height: 40vh;
}

.listeCondAdmin{
  border: 1px solid white;
  margin: 20px;
  padding: 10px;
  color: #FFF;
}

/*=============================================================
                    Section professeurs
=============================================================*/

.conteneurProf{
  //width: 70%;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imageProf{
  width: 160px;
  height: 223px;
  margin: 25px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 // box-shadow: 5px 5px 16px -5px #dc0084;
  img {
      max-width: 100%;
      height: 100%;
      //box-shadow: 5px 5px 16px -5px rgba(220,0,132,0.55);
    }
}

/*=============================================================
                    Hover Sectiton professeurs
=============================================================*/


.hoverProf {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #FFF;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }
}

.imageProf:hover .hoverProf {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}

/*=============================================================
                    Grille de cheminement
=============================================================*/

.conteneurBtn
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(http://eddym10.sg-host.com/wp-content/uploads/2021/10/244371350_920791305215488_4824831813202747773_n.jpg);
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 1920px auto;
}