.custom-background
{
    background-size: 100vw  !important;
    background-repeat: no-repeat !important;
}

#primary h2
{
    font-size: 8em;
    margin: 0;
    color:white;
    text-transform: uppercase;
}

/*=============================================================
                        LIGNE DU TEMPS
=============================================================*/

//Text Styles 
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
$font-sans: 'Open Sans', sans-serif;

//Colors
$black: #34435E;
$white: #ffffff;


.ligneTemps {
  min-width: 1000px;
  max-width: 500px;
  margin: auto;
}

.ligneTemps div {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: $black;
  

}
//odd number borders
.ligneTemps div:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  
  &:before {
    left: 100%; 
    margin-left: -20px;
  }
}
//even number borders
.ligneTemps div:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
  
  &:before {
    right: 100%; 
    margin-right: -20px;
  }
}
//handle first and last
.ligneTemps div:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.ligneTemps div:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

/*=============================================================
                    HOVER SUR LES COURS
=============================================================*/

.carte {
  position:relative;
  
  padding:10px 20px;
  
  clip-path: circle(1% at 85% 5%);
  transition: all ease-in-out .3s;
  background-color:#ffffff;
  
  &__titre{
    margin:0;
    
    font-size: 3em;
    line-height:1.8;
  }
  &__description{
    margin:0;
    
    font-size: 1.1em;
    line-height:1.6;
  }
  
  &:hover, &:focus{
    clip-path: circle(75%);
    border-radius:20px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
                0px 3px 18px rgba(0,0,0,0.08);
    background:#ffffff;
    
    outline:none;
  }
  &:focus{
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 
                0px 3px 18px rgba(0,0,0,0.08), 
                0px 0px 0px 4px rgba(0,0,0,0.2);
  }
}