.img-entete-avenir {
    position: absolute;
    z-index: -1;
    top: 00px;
    width: 100%;
    margin: auto;
}

.page-id-44 {
   // overflow-x: hidden;
   
    .wp-block-code {
        display: none;
    }

    .page-avenir {
        width: 100vw;
    }

    div {
        text-overflow: clip;
    }

    hr
    {
        background-color: #dc0084; height: 3px; border: 0;
        width:60%;
    }
    .header_avenir
    {
        display: flex;
        justify-content: space-between;
        background-color: rgb(41,41,41);
        padding-left: 5%;
        align-items: center;
        margin-top: 290px;
        margin-bottom: 0px;
        padding-bottom: 100px;
            
        .header_avenir_title {
            justify-content: center;
        }

        h2 {
            font-size: 0.5em;
            margin: auto;
        }

    }
    .bloc-texte 
    {
        z-index: 999;
        width:50%;
        padding: 2%;;
        background-color: rgba(130,130,130,0.10);
        color:white;
        line-height: 2;
    }

    .sectionStages {
        margin: 7%;
        margin-bottom: 3%;
        margin-top: 0;
        display: flex;
        flex-direction: column;

        .conteneurStages {
            display: flex;
            flex-direction: row;
            align-items: left;
            background-color: rgba(130,130,130,0.10);
            width: 100%;
            padding: 3% 2% 3% 2%;
            text-align: center;
            color: #fff;
            margin: auto;


            h4 {
                margin: 0 0 42px 0;
            }

            div {
                width: 40%;
                margin:auto;
                margin-top: 0;

                .conteneurTitreStages {
                    background-color: #dc0084;
                    width: 100%;
                    margin: auto;
                }
            }
            
            p {
                max-width: 100%;
                min-width: 100%;
                margin: auto;
                font-size: 1rem;
                line-height: 2;
                text-align: left;
            }

            span {
                width: 3px;
                height: 20rem;
                background-color: #dc0084;
                margin: 0 2% 0 2%;
            }

        }
    }

    .sectionProfessions {
        margin: 7%;
        margin-top: 0%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;

        .imgProfession {
            background-color: #fff;
            max-height: 100%;
            max-width: 50%;
            min-height: 300px;
            min-width: 300px;
        }

        .conteneurProfessions {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 550px;
            flex-wrap: wrap;
            
            /*ul {
                font-size: 1.5rem;
                color: #fff;
                font-family: $font__main;
                
                li {
                    margin-bottom: 20px;
                }

                #li1 {
                    animation: animLi1 0s forwards;
                }

                #li1:hover {
                    animation: animLi1 0s reverse;
                }

                #li2 {
                    animation: animLi2 0s forwards;
                }

                #li2:hover {
                    animation: animLi2 0s reverse;
                }

                #li3 {
                    animation: animLi3 0s forwards;
                }

                #li3:hover {
                    animation: animLi3 0s reverse;
                }

                #li4 {
                    animation: animLi4 0s forwards;
                }

                #li4:hover {
                    animation: animLi4 0s reverse;
                }

                #li5 {
                    animation: animLi5 0s forwards;
                }
                
                #li5:hover {
                    animation: animLi5 0s reverse;
                } 

                #li6 {
                    animation: animLi6 0s forwards;
                }

                #li6:hover {
                    animation: animLi6 0s reverse;
                }

                #li7 {
                    animation: animLi7 0s forwards;
                }

                #li7:hover {
                    animation: animLi7 0s reverse;
                }

                #li8 {
                    animation: animLi8 0s forwards;
                    margin-bottom: 0;
                }

                #li8:hover {
                    animation: animLi8 0s reverse;
                }

                li:hover {
                    font-weight: normal;
                   // transform: scale(110%) rotate(0deg);
                }
            }*/

            span {
                color: #dc0084;
                font-weight: bolder;
                font-size: 3rem;
                position: absolute;
                transform-origin: left;
            }
            
            .prof2 ,.prof3, .prof5, .prof6, .prof8 {
                transform-origin: right;
            }

            .prof1 {
                transform: translate(3vw,250px) rotate(-5deg) scale(1.4);
                text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
            }

            .prof2 {
                transform: translate(30vw, 400px);
                color: #000;
                text-shadow: rgb(220, 0, 132) 1px 0px 0px, rgb(220, 0, 132) 0.540302px 0.841471px 0px, rgb(220, 0, 132) -0.416147px 0.909297px 0px, rgb(220, 0, 132) -0.989993px 0.14112px 0px, rgb(220, 0, 132) -0.653644px -0.756803px 0px, rgb(220, 0, 132) 0.283662px -0.958924px 0px, rgb(220, 0, 132) 0.96017px -0.279416px 0px;
            }

            .prof3 {
                transform: translate(50vw, 100px);
                font-weight: normal;
                text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
            }

            .prof4 {
                transform: translateY(4vw) rotate(-3deg) scale(0.8);
            }

            .prof5 {
                transform: translate(45vw, 350px) rotate(5deg) scale(1);
                color: #000;
            }

            .prof6 {
                transform: translateX(50vw) scale(0.7) rotate(-2deg);
                text-shadow: rgb(220, 0, 132) 1px 0px 0px, rgb(220, 0, 132) 0.540302px 0.841471px 0px, rgb(220, 0, 132) -0.416147px 0.909297px 0px, rgb(220, 0, 132) -0.989993px 0.14112px 0px, rgb(220, 0, 132) -0.653644px -0.756803px 0px, rgb(220, 0, 132) 0.283662px -0.958924px 0px, rgb(220, 0, 132) 0.96017px -0.279416px 0px;
                color: #000;
            }

            .prof7 {
                transform: translate(1vw,500px) rotate(-3deg);
            }

            .prof8 {
                transform: translate(60vw, 500px) rotate(3deg);
                text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
            }

            img {
                height: 300px;
            }
        }

        .meilleuresProfessions {

            display: flex;
            flex-direction: column;
            max-width: 70vw;
            width: 70vw;
            margin: auto;
            margin-top: 7%;
           // justify-content: ;
            
            input {
                display: none;
            }

            h4 {
                margin-bottom: 0;
            }

            p {
                margin-top: 30px !important;
            }
            
            .headerNoir, .headerRose {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100px;
                width: 100%;
                border-radius: 30px 30px 30px 30px;
                transition: border-radius 0.2s ease-in-out;
                padding: 0 5% 0 5%;

                h4 {
                    margin: 0;
                }

                input {
                    display: block;
                    opacity: 0;
                }

                .labelRose, .labelNoir {
                    background-size: auto;
                    background-repeat: no-repeat;
                    width: 30px;
                    height: 20px;
                    transition: transform 0.2s;
                    transform: scaleY(-1);
                }

                .labelRose {
                    background-image: url(http://eddym10.sg-host.com/wp-content/uploads/2021/12/Groupe-defilant-4.png);
                }

                .labelNoir {
                    background-image: url(http://eddym10.sg-host.com/wp-content/uploads/2021/12/Groupe-defilant-6.png);
                }

            }

            .headerRose {
                background-color: #8d0055;
            }

            .headerNoir{
                background-color: #1b1b1b;
            }

            .headerNoir, .headerRose {
                cursor: pointer;
            }

            .rose {
                
                section {
                    background-color: #dc0084b9;
                }
            
            }
    
            .noir {
                
                text-align: right;
                section {
                    background-color: #383838b9;
                }

                img {
                    padding-right: 20px;
                }

                section {
                    text-align: left;
                }
            }

            .rose, .noir {
                border-radius: 30px 30px 30px 30px;
                margin-bottom: 2%;
                
                section {
                    flex-direction: row;
                    display: flex;
                    justify-content: space-between;
                    height: 100%;
                    padding: 0 5% 0 5%;
                    transform-origin: top center;
                    animation: animMeilleurProfessions 0.2s both ease-out;
                    border-radius: 0px 0px 30px 30px;
                    padding-bottom: 3%;

                    p {
                        max-width: 650px;
                        min-width: 500px;
                        font-size: 1em;
                        letter-spacing: 2px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    img {
                      //  background-image: url(../../media/grandPapaTortue.png);
                        padding: 0;
                        height: 200px;
                        margin: auto;
                        
                    }

                }
            }

            .noir:nth-child(4) {
                margin-bottom: 0;
            }

        }

    }

    .sectionUni {
        margin: 7%;
        margin-top: 3%;
        display: flex;
        flex-direction: column;

        .conteneurUni {
            margin: auto;
            background-color: #383838b9;
            box-sizing: border-box;
            border-radius: 20px;
            text-align: center;
            padding: 10px 0 10px 0;
            margin-bottom: 2%;
            width: 70%;
            flex-direction: row;
            display: flex;
            justify-content: space-around;
            align-items: center;

            h5 {
                padding-right: 10px;
                text-align: center;
                font-size: clamp(1rem, 2.5vw, 1.5rem); 
                padding: 0 5% 0 0;
                max-width: 900px;
               // min-width: 600px;
            }

            .txtCoteDroit {
                padding: 0 0 0 5%;
            }

            i {
                margin: auto;
                font-size: 4.2em;
                color: #dc0084;
                float: left;
                margin: 0 5% 0 5%;
            }

            .coteDroit {
                padding-left: 0%;
                float: right;
            }

        }

        .conteneurUni:hover > i {
            transition: 0.3s;
            animation-fill-mode: both;
            transform: scale(1.3) rotate(-15deg);
        }

        .conteneurUni:hover > .coteDroit {
            transform: scale(1.3) rotate(15deg);
        }
    }

    .blocks-gallery-item {
        margin: 0%;
        padding: 0;
    }

    .wp-block-gallery {
        max-height: 100px;

        ul {
            background-color: #fff;
        }

        figcaption {
            background: none;
            height: 100%;
            overflow: hidden;

            a {
                height: 100%;
                width: 100%;
                display: block;
                opacity: 0;
            }

        }

    }

    .imgBanniere {
        width: 100vw;
        padding: 0%;
        margin: 0;

        .wp-image-169 {
            width: 100vw;
        }
    }

    .banniereAvenir1 {
        display: block;
        margin: 0;
        min-width: 100vw;
    }
    .banniereAvenir1Mobile {
        display: none;
        margin: 0;
        min-width: 100vw;
    }

    .banniereAvenir2 {
        display: block;
        margin: 0;
        width: 100vw;
    }
    .banniereAvenir2Mobile {
        display: none;
        margin: 0;
        width: 100vw;
    }

    .wp-block-gallery {
        width: 100vw;
    }

    .blocks-gallery-grid {
        margin: 0;
    }

    .site-footer {
        width: 100vw;
        
        .ensemble-colonne-footer {
            padding: 0%;
        }
    }

    .blocks-gallery-grid {
        padding: 2% 7% 2% 7%;
        transform: translatey(-100px);
        
        li {
            margin: auto;
        }

    }

    .wp-block-gallery {
        margin-bottom: 10%;
    }
    
    //Typographie
    p {
        color: #fff;

    }

    h3 {
        font-family: $font__titles;
        font-size: 2rem;
        color: #fff;
    }

    h4 {
        font-size: 2em;
        color: #fff;
    }

    h5 {
        color: #fff;
        font-size: 1.2rem;
        margin: 0%;
        font-weight: lighter;
    }

    //Media-Queries

      @media only screen and (min-width: 834px) and (max-width: 1112px) { //Tablette
        
        .header_avenir {
            h2 {
                font-size: 100px !important;
            }
        }

        .sectionStages {
            margin: 3%;

            p {
                max-width: 300px !important;
                min-width: 100px !important;
                font-size: 1rem !important;
                line-height: 25px !important;
            }
        }

        ul {
            margin: 0;
        }

        .conteneurProfessions {
            
            justify-content: space-between !important;

            span {
                transform: none !important;
                position: static !important;
            }

            .prof3, .prof4, .prof6, .prof8 {
                margin-left: auto;
            }

        }

        .meilleuresProfessions {
            p {
                letter-spacing: normal !important;
                font-size: 1rem !important;
                max-width: 350px !important;
                min-width: 300px !important;
                width: 350px;
            }
            
        }

    }

    @media only screen and (max-width: 833px) { //Mobile
        
        .blocks-gallery-item {
            width: 25% !important;
        }

        .wp-block-gallery {
            max-height: none;
        }

        .sectionStages, .sectionProfessions, .sectionUni {
            margin-top: 20px !important;
        }

        h4 {
            font-size: 1.5rem;
        }

        p {
            font-size: 12px !important;
        }

        .header_avenir {

            flex-direction: column;
            padding: 0;
            margin-top: 0;

            h2 {
                font-size: 70px !important;
                text-align: center;
            }

            .bloc-texte {
                display: flex;
                width: 100%;
                min-height: 0;
                height: 100%;
                margin: auto;
                display: none;
            }
        }

        h3 {
            font-size: 1.5rem !important;
            text-align: center;
            margin: auto;
        }

        .sectionStages {
            margin: 0%;

            h3 {
                margin-bottom: 20px;
            }
            
            span {
                display: none;
            }

            p {
                line-height: 1.7 !important;
                font-size: 18px !important;
                padding: 10%;
                padding-top: 15px;
                padding-bottom: 0;
            }


            .conteneurStages {
                flex-direction: column;
                padding: 0px 0 10px 0;
                justify-content: space-around;

                div {
                    margin: 0;
                    width: 100%;
                }

                div:nth-child(3) {
                    margin-top: 20px;
                }

                h4 {
                    margin: 0px;
                    font-size: 2rem;
                }
            }
        }

        .sectionProfessions {
           // margin: 3% !important;
            width: 100vw;
            margin: 0 !important;
            margin-top: 20px !important;

            .conteneurProfessions {
                
                height: auto !important;
                justify-content: space-between !important;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
    
                span {
                    transform: none !important;
                    position: static !important;
                    font-size: clamp(1.5rem, 5vw, 4rem);
                }
            }

        }

        ul {
            margin: 0;
            padding: 0;
            font-size: 12px !important;
        }

        .meilleuresProfessions {
            margin: auto;
            padding: 0;
            width: 95vw !important;
            max-width: none !important;
            margin-bottom: 30px !important;

            input {
                display: block !important;
                height: 30px;
                margin-right: 30px !important;

            }

            .rose, .noir {
                padding: 0 !important;
                margin-bottom: 30px;
                border-radius: 30px 30px 0 0;
                overflow:hidden;
                width: 100% !important;

                section {
                    display: flex;
                }

            }
            
            img {
                margin: auto;
                padding: 0 !important;
                margin-top: 30px !important;
            }

            .rose {

                section {
                    flex-direction: column-reverse !important;
                }
            }

            .noir {
                flex-direction: column-reverse !important;

                section {
                    flex-direction: column !important;
                }

            }

            .headerRose, .headerNoir {
                display: flex !important;
                flex-direction: row !important;
                justify-content: space-between;
                height: 80px;
                width: 100%;
                align-items: center;
                padding: 0 3% 0 5%;
                border-radius: 30px 30px 30px 30px;

                h4 {
                    margin: 0 !important;
                    font-size: 1rem !important;
                    margin-left: 20px !important;
                }

            }

            .headerRose {
                background-color: #8d0055;
            }

            .headerNoir {
                background-color: #1b1b1b;
            }

            p {
                letter-spacing: normal !important;
                font-size: 15px !important;
                max-width: none !important;
                min-width: 250px !important;
                width: 90% !important;
                margin: auto;
                margin-top: 100px !important;
                text-align: center;
            }
            
        }

        .conteneurUni {
            width: 100% !important;
        }

        .banniereAvenir1 {
            display: none;
        }
        .banniereAvenir1Mobile {
            display: block;
        }

        .banniereAvenir2 {
            display: none;
        }
        .banniereAvenir2Mobile {
            display: block;
        }

        .img-entete-avenir {
            display: none;
        }

    }

    //Section Animations
    @keyframes animLi1 {
        from {}
        to {transform: scale(90%) rotate(-0.5deg);}
    }

    @keyframes animLi2 {
        from {}
        to {transform: scale(90%) rotate(0.5deg);}
    }

    @keyframes animLi3 {
        from {}
        to {transform: scale(90%) rotate(-0.5deg);}
    }

    @keyframes animLi4 {
        from {}
        to {transform: scale(90%) rotate(0.5deg);}
    }

    @keyframes animLi5 {
        from {}
        to {transform: scale(90%) rotate(-0.5deg);}
    }

    @keyframes animLi6 {
        from {}
        to {transform: scale(90%) rotate(0.5deg);}
    }

    @keyframes animLi7 {
        from {}
        to {transform: scale(90%) rotate(-0.5deg);}
    }

    @keyframes animLi8 {
        from {}
        to {transform: scale(90%) rotate(0.5deg);}
    }

    @keyframes animMeilleurProfessions {
        from {transform: scaleY(0); border-radius: 30px;}
        to {transform: scaleY(1);}
    }
    
     footer {
        h3 {
            font-size: 18.72px;
            color: #404040;
        }
    }

}
