header{
    display: flex;
}
.menu
{  
    display: flex;
    justify-content: space-evenly;
    background-color: $color__background-nav;
}

.custom-logo
{
    background-color: $color__background-nav;
    padding:10%;

}

.page_item a
{
 padding: 20%;

}

