header{
    display: flex;
}
.menu
{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color__background-nav;
    
}

.custom-logo
{
    background-color: $color__background-nav;
    padding: 10%;

}

.page_item a
{
 padding: 30%;
}

li:hover
{
    font-weight: bold;
    
}
