hr
    {
        background-color: #dc0084; height: 3px; border: 0;
        width:60%;
    }

.page-etudiante
{
    background-color:rgb(41,41,41); 
}
.header_etudiante
{
    padding-left: 5%;
    margin-bottom: 5%;
   display: flex;
   justify-content: space-between;  
   align-items: center;
    background-color: rgb(41,41,41);
   
}
.bloc-texte 
{
z-index: 999;
width:50%;
height:300px;
padding: 2%;;
background-color: rgba(130,130,130,0.10);
color:white;
}
.menu-galerie
{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 4vh;
    padding-left: 20px;
    width:60%;
    height:7vh;
    justify-content:space-between;
    background-color: rgba(130,130,130,0.10);
    a{
        text-decoration: none;
    }
    a:active{
        font-weight: bold;
    }
    a:hover
    {
        color:#dc0084;
    }
}
.galerie-projet
{
    display: inline-grid;
  grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
    width: 100vw;
    height: 90vh;
    div
    {
        text-align: center;
        padding: 20px;
        width:25vw;
        height:25vh;
        background-color: white;
        
    }
}