//position de l'image d'entête
img.img-entete-etudiant
{
    position: absolute;
  z-index: -1;
  top: -100px;
}
//style pour le lignes d'espacement dans la page (lignes roses)
hr
    {
        background-color: #dc0084;
        width:60%;
        height: 3px;
    }
//style pour le titre de la galerie de projets
    h3.has-text-align-left
    {
        color:white;
        margin: 5%;
        font-size: 2rem;
        padding: 20px;
        padding-left: 6%;
        width:600px;
        border: 1px solid white;
    }
    //style généraux de ma page vie étudiante
.page-etudiante
{
    margin-top: 15%;
    background-color:rgb(41,41,41); 
//style pour la srction entete de la page
.header_etudiante
{
    padding-left: 5%;
    margin-bottom: 5%;
   display: flex;
   justify-content: space-between;  
   align-items: center;
    background-color: rgb(41,41,41);
   
}
// bloc de texte situé dans l'entete de vie etudiante
.bloc-texte 
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 999;
    width:50%;
    height:300px;
    padding: 2%;;
    background-color: rgba(130,130,130,0.10);
    color:white;
   
}

/*-------------------------------------------------------------------
------------PROPRIÉTÉS CSS DE LA GALERIE PROJETS-------------------
-------------------------------------------------------*/
.wp-block-gallery
{
    
    
    background-color:rgba(130,130,130,0.10) ;
    .blocks-gallery-grid
    {
        
        li.blocks-gallery-item
        {
            width:300px;
            height:200px;
        }
    }
    
}
/*-------------------------------------------------------------------
------------PROPRIÉTÉS CSS DE LA SECTION TÉMOIGNAGES-------------------
-------------------------------------------------------*/
//titre 'témoignages"
h3
{
    color:white;
    margin: 5%;
    font-size: 2rem;
    padding: 20px;
    padding-left: 6%;
    width:700px;
    border: 1px solid white;
}
//styles pour la section générale des témoignages
.section-temoignages
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin: 5%;

//couleurs différentes pour chaques post-it
    .post-it:nth-child(1)
    {
        background-color: #FFA5DB;
        transform: rotateZ(-20deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:nth-child(2)
    {
        background-color: #FF67C2;
        transform: rotateZ(10deg);
        margin-left: 10%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:nth-child(3)
    {
        background-color: #FFA5DB;
        transform: rotateZ(10deg);
        margin-top: 5%;
        margin-left: 5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:nth-child(4)
    {
        background-color: #FF67C2;
        transform: rotateZ(60deg);
        margin-top: -5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
        box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:nth-child(5)
    {
        background-color: #FF67C2;
        transform: rotateZ(-50deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:nth-child(6)
    {
        background-color: #FF67C2;
        transform: rotateZ(5deg);
        margin-top: -5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:nth-child(7)
    {
        background-color: #FFA5DB;
        transform: rotateZ(-10deg);
        margin-top: 5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:nth-child(8)
    {
        background-color: #FF67C2;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:nth-child(9)
    {
        background-color: #FFA5DB;
        transform: rotateZ(-40deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    
}
//Propriétés générales des post-it (Taille,alignement,disposition des textes)
.post-it
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    height:300px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;

    p{
        font-size: 0.8rem;
    }
   
   
}
//style pour les post-it hover, agrandissement de l'élément
.post-it:hover
{
   scale:110%;
   transition: all .3s ease-in-out;
   
   
}
//les 4 premier posts it des temoignages 
.post-it-vedettes
{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-left: 5%;
margin-right: 5%;
    //ajustement de la couleur pour chacuns
    .post-it:nth-child(1)
    {
        background-color: #DC0084;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
        
    }
    .post-it:nth-child(2)
    {
        background-color: #FF67C2;
        transform: rotateZ(-20deg);
        margin-top:5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }
    .post-it:nth-child(3)
    {
        background-color: #DC0084;
        transform: rotateZ(5deg);
        margin-top:2%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }
    .post-it:nth-child(4)
    {
        background-color: #FF67C2;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }

}
/********************************************
**********MEDIA QUERY - IPHONE ****************
*****************************************/

@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
   { 
  //Ajustement taille du titre de la galerie projet
    h3.has-text-align-left
    {
        color:white;
        margin:auto;
        font-size: 1rem;
        width:300px;
        border: 1px solid white;
    }
 //ajout du :active pour lorsque qu'on presse un post-it
 //il se redresse droit
    .post-it-vedettes
    {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;

    .post-it:active:nth-child(1)
    {
        background-color: #DC0084;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
        
    }
    .post-it:active:nth-child(2)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        margin-top:5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }
    .post-it:active:nth-child(3)
    {
        background-color: #DC0084;
        transform: rotateZ(0deg);
        margin-top:2%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }
    .post-it:active:nth-child(4)
    {
        background-color: #FF67C2;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }
    
    }
//taile du h3 ajusté en mode iphone
    h3
    {
        margin:auto;
        margin-bottom: 30px;
        width:300px;
        text-align: center;
        color:white;
        font-size: 1rem;
        
    }
    //on enleve le texte de présentation de la page en iphone
.bloc-texte
{
    display: none;
    visibility: hidden;
}
//centrer le titre vie etudiante
.header_etudiante_title
{
    font-size: 0.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
//media query pour les post-it, hover, on enleve la rotation sur le post-it
.section-temoignages
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin: 5%;

//couleurs différentes pour chaques post-it
 //ajout du :active pour lorsque qu'on presse un post-it
 //il se redresse droit
   .post-it:active:nth-child(1)
    {
        background-color: #FFA5DB;
        transform: rotateZ(0deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(2)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        margin-left: 10%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(3)
    {
        background-color: #FFA5DB;
        transform: rotateZ(0deg);
        margin-top: 5%;
        margin-left: 5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(4)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        margin-top: -5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
        box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(5)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(6)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        margin-top: -5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(7)
    {
        background-color: #FFA5DB;
        transform: rotateZ(0deg);
        margin-top: 5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(8)
    {
        background-color: #FF67C2;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(9)
    {
        background-color: #FFA5DB;
        transform: rotateZ(0deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    
}
}
/********************************************
**********MEDIA QUERY - TABLET ****************
*****************************************/
@media only screen 
  and (min-width: 834px) 
  and (max-width: 1112px)
  {
      //on affiche pas le bloc de texte de présenteation
      //en ,ode tablette
    .bloc-texte
    {
    display:none;
    visibility: hidden;
    }
//ajustement taille des post-it
    .post-it
    {
        width:200px;
        height:200px;
        margin-top:3px;

        p{
            font-size: 0.55rem;
        }
        h5
        {
            margin-top: -2px;
        }
    }

    // POST-IT VEDETTES
    //Alignement droit des post-it vedettes
   // en maintenant le doigt enfoncé sur un post-it
    .post-it-vedettes
    {

    .post-it:active:nth-child(1)
    {
        background-color: #DC0084;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
        
    }
    .post-it:active:nth-child(2)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        margin-top:5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }
    .post-it:active:nth-child(3)
    {
        background-color: #DC0084;
        transform: rotateZ(0deg);
        margin-top:2%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }
    .post-it:active:nth-child(4)
    {
        background-color: #FF67C2;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
box-shadow: 5px 5px 15px -2px #000000;
    }
    
    }
    .section-temoignages
{
    
    //AUTRES POST-IT RÉGULIERS

    //Alignement droit des post-it vedettes
   // en maintenant le doigt enfoncé sur un post-it
   .post-it:active:nth-child(1)
    {
        background-color: #FFA5DB;
        transform: rotateZ(0deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(2)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        margin-left: 10%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(3)
    {
        background-color: #FFA5DB;
        transform: rotateZ(0deg);
        margin-top: 5%;
        margin-left: 5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(4)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        margin-top: -5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
        box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(5)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(6)
    {
        background-color: #FF67C2;
        transform: rotateZ(0deg);
        margin-top: -5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(7)
    {
        background-color: #FFA5DB;
        transform: rotateZ(0deg);
        margin-top: 5%;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(8)
    {
        background-color: #FF67C2;
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    .post-it:active:nth-child(9)
    {
        background-color: #FFA5DB;
        transform: rotateZ(0deg);
        -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    }

    
}
}

}
//extérieur de la page vie étudiante
//alignement center pour le titre "projets étudiants" en mobile
//enlever img header en mobile
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
   { 
    h3.has-text-align-left
    {
        color:white;
        margin:auto;
        font-size: 1rem;
        width:300px;
        border: 1px solid white;
        text-align: center;
    }

    img.img-entete-etudiant
    {
        position: absolute;
      z-index: -1;
      top: -100px;
      visibility: hidden;
      display: none;
    }
}
