//import google fonts OPEN SANS + ROBOTO SLAB
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

// stylelint-disable value-keyword-case
$font__main: 'Open Sans', sans-serif;
//style pour les titres (h2,h3,h4)
$font__titles: 'Roboto Slab', serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
